* {
    margin:0;
    padding:0;   
    box-shadow:none;  
}

body {
    font-size: 15px;
    color:white;
    font-family: "Inter", sans-serif;
    background-color:hsl(233, 47%, 7%);
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    
}

/* Component styling */

.container {
    width: 70vw;
    margin: 18vh auto;
    border-radius: 20px;
    min-height:30vh;
    background-color: hsl(244, 38%, 16%);
    display:flex;
    flex-direction:row-reverse;  
    align-items:left;
}

/* Text part and image styling*/

.stat-card{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}


/* Image styling*/

.stat-image {
    position: relative;
}

img {
    width:100%;
    height:100%;
    object-fit:fill;
    overflow:hidden;
    border-radius: 0 20px 20px 0;
}

.stat-image:before {
    content:"";
    border-radius: 0 20px 20px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background:hsla(277, 64%, 61%, 0.6);
}





/* introductionary text styling*/

.stat-text {
    width:70%;
    margin: 4vh auto;
    column-gap: 10px;
}


.stat-intro-heading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.stat-intro-text {
    margin-top: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* Stat display styling */

.stat-display {
    width: 70%;
    margin: 6em auto;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.stat-display-details > p {
    width: 100%;
    margin-right: 4em;
    font-weight:400;
}



.highlight {
    color:hsl(277, 64%, 61%);
}


/* Footer styling */

.attribution 
{ 
    font-size: 11px; 
    text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}